@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 100%);
  font-family: "Assistant", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
  width: 600px;
  max-width: 100%;
}

.quiz-header {
  padding: 4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: #e67e22;
  color: white;
  display: block;
  width: 100%;
  padding: 2rem;
  font-family: inherit;
  border: none;
  font-size: 1.5rem;
}
