@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #bdd4e7;
  font-family: "Assistant", sans-serif;
}
