@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 100%);
  font-family: "Assistant", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

button {
  background-color: #459dd8;
  color: white;
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  background-color: #1d83c7;
}
